* {
    margin: 0;
    border: border-box;
    font-family: "Noto Sans", sans-serif;


}

.header {
    /* background-color: #d8c6c6; */
}

.container {
    max-width: 1256px;
    /* border: 1px solid black; */
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    background-image: url("logo.png");
    height: 40px;
    background-size: cover;
    width: 40px;
}

.nav-list {
    width: 60%;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin: 25px 0px;
    padding: 0px 25px;
    font-size: 0.95rem;
    font-weight: 300;
}

.nav-list li:hover {
    cursor: pointer;
}

.nav-search {
    width: 280px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 3px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
}

.search-icon {
    margin-left: 10px;
    color: #9ca3af;
    font-size: 1.2rem;
}

.seach-input {
    margin-left: 5px;
    width: 100%;
    border: none;
}

.nav-user {
    margin-left: 50px;
}

.nav-second {
    background-color: #1E3932;
    height: 80px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
    cursor: pointer;
}

.second-container {
    max-width: 1192px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-container h5 {
    color: #f9f9f9;
    font-size: 1.2rem;
    font-weight: 300;
}

.btn {
    width: 96px;
    height: 32px;
    border: 1px solid #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 0.75rem;
    font-weight: 600;
}

section {
    margin-top: 30px;
    background-color: #edebe9;
    position: relative;
}

.right-image {
    background-image: url("greyleafright.svg");
    background-size: cover;
    width: 65px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
}

.section-container {
    margin-top: 25px;
    padding-top: 25px;
    max-width: 1370px;
    height: 280px;
    /* border: 1px solid black; */
    margin: auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.section-header span {
    color: #1E3932;
    font-size: 1.5rem;
}

.section-header h6 {
    color: #00754A;
    font-size: 0.9rem;
}

.main-card {
    display: flex;
    margin: 10px;
    padding: 20px;
    /* text-align: center; */
}

.card-section {
    width: 370px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px 24px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    margin: 0 10px;
}

.crad-first {
    display: flex;
}

.menu-images {
    height: 80px;
    width: 80px;
    border-radius: 8px;
}

.crad-title {
    margin-left: 15px;
}

.crad-title h3 {
    font-size: 0.85rem;
    color: #000;
}

.crad-title h5 {
    font-size: 0.55rem;
    color: #6c757d;
    margin-top: 10px;
}

.card-last {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.card-last h4 {
    font-size: 0.9rem;
}

.card-last button {
    width: 96px;
    height: 32px;
    background: #00754A;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px #a3a3a3ad;
    color: #fff;
}

.promotion-banner {
    margin-top: 50px;
}

.banner-container {
    max-width: 1300px;
    height: 220px;
    margin: auto;
    background-image: url('Banner_Background.jpg');
    border-radius: 5px;
    display: flex;
}

.banner-first {
    width: 10%;
}

.banner-img {
    background-image: url('banner-coffee.png');
    background-size: cover;
    width: 100px;
    height: 200px;
}

.banner-second {
    padding: 1.5rem;
    width: 55%;
    color: #FFFFFF;
}

.first {
    font-size: 0.85rem;
    font-weight: 400;
}

.second {
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.third {
    padding-top: 10px;
    font-size: 0.85rem;
}

/*  */
.handpicked-section {
    margin-top: 50px;
}

.handpicked-container {
    max-width: 1280px;
    height: 260px;
    /* border: 1px solid #000000; */
    margin: auto;
}

.handpicked-container h2 {
    color: #1E3932;
    font-size: 1.5rem;
}

.handpicked-img {
    height: 108px;
    width: 108px;
    border-radius: 50%;
    border: 1px solid #edebe9;
    cursor: pointer
}

.handpicked-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.section-card p {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    color: #292525;
}

/*  */
.favourites-section {
    margin-top: 4px;
    margin-bottom: 5rem;
}

.favourites-container {
    margin: auto;
    max-width: 1325px;
    height: 420px;
}

.favourites-inner {
    margin: 10px;
    display: flex;
}

.fav-title {
    display: block;
}

.fav-card {
    display: flex;
}

.fav-title h2 {
    color: #1E3932;
}

.card-container {
    width: 422px;
    height: 370px;
    /* border: 2px solid black; */
    box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
    border-radius: 8px;
    cursor: pointer;

}

.card-images {
    width: 422px;
    height: 167px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-body h5 {
    font-size: 0.87rem;
    color: #1e3932;
}

.card-second {
    font-size: 0.7rem;
    color: #00000061;
}

.card-body p {
    color: #000000de;
    font-size: 0.83rem;
    margin-top: 20px;
}


.fav-card {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.fav-card button {
    width: 96px;
    height: 32px;
    background: #00754A;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px #a3a3a3ad;
    color: #fff;
}


.card-span-left {
    color: #000;
    font-size: 0.85rem;
    font-weight: 600;
}

.card-span-right {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

/* favourites-section-panel */
.favourites-section-panel {
    background-color: #edebe9;
    padding-top: 2em;
    padding-bottom: 2em;
}

.panel-container {
    max-width: 1320px;
    height: 435PX;
    margin: auto;
    /* border: 2px solid black; */
}

.panel-first {
    display: flex;
    justify-content: space-between;
}

.panel-container h2 {
    color: #1e3932;
}

.panel-container h6 {
    color: #00754a;
    font-size: .8rem;
    cursor: pointer;
}

.panel-second {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
    width: 100%;
}

.panel-second-img {
    display: block;
    height: 372px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha (4th parameter) for the darkness */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Add transition for smooth effect */
    border-radius: 8px;

}

.panel-second:hover .overlay {
    opacity: 1;
    cursor: pointer;
    /* Show the overlay on hover */
}

.panel-text {
    position: absolute;
    top: 2rem;
    color: #fff;
    left: 2rem;
}

.first-tage {
    color: #096;
    font-size: 9px;
    font-weight: 700;
    background: #e6edeb;
    border-radius: 4px;
    padding: 2px 4px;
    gap: 2px;
    width: 12%;
}

.second-tage {
    margin-top: 10rem;
    font-size: 1.5rem;
    margin-bottom: .5em !important;
}

.fav-card-text {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3em;
}

.fav-btn {
    width: 200px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    border: none;
    font-size: 0.7rem;
    font-weight: 700;
}

footer {
    margin-top: 40px;
    background-color: #0e382c;
    /* height: 940px; */
}

.footer-container {
    padding: 2em 5em 2em;
    max-width: 1320px;
    /* border: 2px solid #bbb; */
    color: #bbb;
    margin: auto;
    line-height: 2.5;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-top: 8px;
}

.footer-heading h2 {
    font-size: 1.125em;
    color: #fff;
    cursor: pointer;
}

.footer-heading ul {
    padding: 0;
}

.footer-heading li {
    list-style-type: none;
}

.footer-heading a {
    font-weight: 300;
    font-size: .875em;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.footer-icone {
    text-align: center;
    color: #fff;
}

.footer-icone i {
    padding: 0 5px;
    font-size: 2rem;
}

.app-first {
    margin-top: 8px;
}

.footer-line {
    margin-top: 5rem;
    border-bottom: 1px solid #bbb;
}

.second-footer {
    display: flex;
    justify-content: space-between;
}

.second-footer ul {
    display: flex;
    padding: 0;
}

.second-footer li {
    list-style: none;
    margin: 1.125rem 0.625rem;
    white-space: nowrap;
    font-size: 0.65rem;
    padding-right: 17px;
    border-right: 1px solid #b3b3b3;
}

.second-footer li:nth-last-child(1) {
    border-right: none;
}
.second-footer p{
    margin-top: 15px;
    font-size: 10px;
}